body{
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
}

header{
    padding: 0.5em ;
    line-height: 1.5;
    background-color:rgb(226, 76, 101);
    border-radius: 10px;
    
}

header img {
    width: 160px;
    height: auto;
    float: right;
    border-radius: 20px;
    padding: 1rem;
}
h1{
    margin: 0.15rem;
    font-family: 'Major Mono Display', 'Major Mono Display', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-align: center;
    color: whitesmoke;
    padding: 0.5em ;
}

main{
    font-family: 'Montserrat Alternates', sans-serif;
}
h2{
      color: rgb(116, 124, 1);
    font-size: 1.2rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
    padding: .5rem;
}
footer{
    text-align: center;
    background-color: rgb(226, 76, 101);
    color: white;
    padding: 0.08em;
    border-radius: 10px;
    line-height: 5px ;
}

footer a{
    color: white;
}
.last{
    color: rgb(234, 248, 33);
}

ul{
    margin: 0 auto;
    max-width: 600px;
}