
body{
    background-color: white;
    max-width: 900px;
    margin: 2em auto;
    
}

header{
    padding: 0.5em ;
    background-color:rgb(226, 76, 101);
    border-radius: 10px; 
    box-shadow: 3px 8px 15px rgb(39, 26, 2) ;
}

h1{
    
    font-size: 1.5rem;
    margin-left: 0.3px;
    font-family: 'Major Mono Display', 'Major Mono Display', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(22, 8, 221);
    padding: 0.5em ;
}

header img {
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 3px 8px 15px rgb(39, 26, 2) ;
    margin-bottom: 5rem;
    
}

main{
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 1rem;
}
h2{
    color: rgb(116, 124, 1);
    font-size: 1.5rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
    padding: .5rem;
}
footer{
    text-align: center;
    background-color: rgb(226, 76, 101);
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 3px 8px 15px rgb(39, 26, 2) ;
}

footer a{
    color: white;
    
}

ul{
    margin: 0 auto;
}
li{
    padding 2px;
}

.last{
    color: rgb(234, 248, 33);
}