body{
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
}

header{
    background-color:rgb(226, 76, 101);
    border-radius: 10px;
    margin: 0 auto;
    font-family: 'Major Mono Display', 'Major Mono Display', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-align: center;
    color: whitesmoke;
    padding: 0.5em ;
}

.container {
    display: flex;
    background-color: white;
    padding: 10%;
   
    margin: 1em;
}
.container > div {
    background-color:rgb(255, 217, 223);
    padding: 20px;
    margin: .5em;
    width: auto;
    text-align: center;
}


.container header {
    margin: .5em;
    background-color:rgb(73, 41, 47);
    border-radius: 5px;

}

.container img {
    width: 100%;
    vertical-align: auto;
    
    
}

h3, h4, p, a{
    font-family: 'Montserrat Alternates', sans-serif;
}





footer{
    text-align: center;
    background-color: rgb(226, 76, 101);
    color: white;
    padding: 0.08em;
    border-radius: 10px;
    line-height: 5px ;
}

footer a{
    color: white;
}
header a {
    color: white;
}
.last{
    color: rgb(234, 248, 33);
}
