@media only screen and (min-width: 29em) {

    h1 {
        font-size: 2.3rem;
        color: rgb(246, 250, 0);
        font-weight: bold;
        text-align: center;
    
    }
    h3{
        font-size: 1.5rem;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .container img {
        max-width: 100%;
    }
    
    h4, p, a{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.2rem;
    }

    }
    