body{
    background-color: white;
    max-width: 1200px;
    margin: 2em auto;
}

header{
    padding: 0.5em ;
    background-color:rgb(226, 76, 101);
    border-radius: 10px; 
    box-shadow: 3px 6px 12px rgb(39, 26, 2) ;    
    margin: 0 auto;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-align: center;
}

h1{
    color: rgb(22, 8, 221);
    font-size: 1.5rem;
    margin-left: 0.3px;
    font-family: 'Major Mono Display', 'Major Mono Display', sans-serif;
    letter-spacing: 0.1em;
    padding: 0.5em ;
    text-align: center;
}
h3{
    color: whitesmoke;
    font-family: 'Major Mono Display', 'Major Mono Display', sans-serif;
    font-size: .8rem;
}

.container {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 2px;
    background-color: white;
}

.container > div {
    background-color:rgb(255, 217, 223);
    box-shadow: 3px 8px 15px rgb(39, 26, 2) ;    
    padding: 20px;
    margin: 1.5em;
    text-align: center;
}


.container header {
    margin: .5em;
    background-color:rgb(73, 41, 47);
    border-radius: 5px;

}

.container img {
    max-width: 200px;
    vertical-align: auto;  
}

h4, p, a{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: .7rem;
}





footer{
    text-align: center;
    background-color: rgb(226, 76, 101);
    color: white;
    padding: 0.08em;
    border-radius: 10px;
    line-height: 5px ;
    font-size: 1.2rem;
}

footer a{
    color: white;
}
header a {
    color: white;
}
.last{
    color: rgb(234, 248, 33);
}
