@media only screen and (min-width: 52.2em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    /*     
    h1 {
        font-size: 3.3rem;
    } */

    h2 {
        font-size: 5rem;
        text-align: center;
    }

    h4 {
        font-size: 2.7rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: auto;
        grid-column-start: 10;
    }

    .gallery img {
        /* background-color: rgb(168, 218, 220); IF i WANT ENTIRE BOX AGAIN */
        box-shadow: 3px 8px 15px rgb(39, 26, 2);
        /* IF i WANT ENTIRE BOX AGAIN */
        width: 400px;

    }

    /* figure:hover { IF i WANT ENTIRE BOX AGAIN */
    /* box-shadow: 0 0 50px #333; */
    /* } */

    figcaption {
        box-shadow: 3px 8px 15px rgb(39, 26, 2);
        margin: 10px;
        width: 400px;
    }


}