body {
    background: rgba(200, 200, 200, 0.3);
    max-width: 800px;
    margin: 2em auto;
}

section h1,
a {
    background-color: rgb(90, 90, 90);
    padding-top: 20px;
    padding: 1.4em;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.gallery {
    display: grid;
    margin-top: 50px;
    justify-content: center;
}

a {
    text-align: center;
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 1.4em;
    font-size: 1rem;
    display: grid;
}

a:link {
    color: seashell;
}

a:visited {
    color: rgb(250, 248, 139);
}

a:hover {
    background-color: rgb(0, 49, 117);
    color: rgb(255, 166, 102);

}