* {
    margin: 0;
    padding: 0;
}

/* this ^ made my boxes skinny */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(241, 250, 238); */
    background: rgba(200, 200, 200, 0.3);
    /* max-width: 1200px; */
    margin: 2em auto;
}


header {
    background-color: rgb(29, 53, 87);
    display: flex;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    letter-spacing: 0.1em;
    align-items: center;
    justify-content: center;
}

header img {
    width: 130px;
    height: auto;
    margin: 5px 0 5px 0;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    color: rgb(228, 106, 116);
    font-family: 'Fredoka One', cursive;
    margin: 0 0 0 10px;
    -webkit-text-stroke-width: .009rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);

}

.m {
    /* font-style: italic; */
    color: rgb(245, 245, 245, 0.8);
    margin-left: 5px;
    font-family: 'Berkshire Swash', cursive;

}

h2 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin: 3rem;
    font-family: 'Fredoka One', cursive;
    text-shadow: 3px 6px 10px rgb(39, 26, 2);
    -webkit-text-stroke-width: .0009rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

/*navigation css*/
nav {
    margin: 0 auto;
    /*prefer old*/
    /* max-width: 1160px; */
    /*pointless?*/
    background-color: rgb(69, 123, 157);
    /*none of below in example*/
    font-family: 'Berkshire Swash', cursive;

    box-shadow: 3px 6px 12px rgb(39, 26, 2);
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.75rem;
    text-decoration: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    background-color: rgba(230, 57, 70, 0.4);
    font-family: 'Indie Flower', cursive;
    font-size: 17px;
    font-weight: 800;
    color: black;
}

.active {
    background-color: rgb(230, 57, 70);
}

.responsive li {
    display: block;
}


h4 {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    margin: 1rem;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke-width: .0009rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

p {
    font-family: 'Indie Flower', cursive;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    /* margin: auto; */
    grid-column-start: 10;

}

.gallery img {
    width: 400px;
    height: auto;
    /* margin: 0rem; */
}

.norm:hover {
    box-shadow: 0 0 50px #333;
}

figure {
    /* background-color: rgb(168, 218, 220); */
    /* IF i WANT ENTIRE BOX AGAIN */
    /* box-shadow: 3px 8px 15px rgb(39, 26, 2); IF i WANT ENTIRE BOX AGAIN */
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* figure:hover { IF i WANT ENTIRE BOX AGAIN */
/* box-shadow: 0 0 50px #333; */
/* } */

figcaption {
    background-color: rgb(226, 226, 226);
    /* box-shadow: 3px 8px 15px rgb(39, 26, 2); */
    width: 400px;
    padding: 5px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(29, 53, 87);
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
}

footer a {
    color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}