@media only screen and (min-width: 32.5em) {

    nav {
        background-color: rgba(228, 106, 116);
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: white;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .active {
        background-color: rgba(230, 57, 70);
        text-transform: initial;
    }

    .forecast {
        display: block;
        width: 500px;
    }

    table {
        font-size: medium;
    }

    table td {
        padding: 1.35em;
        width: 100%;
    }

    .headings h1 {
        font-size: 3rem;
        text-align: center;
    }

    .m {
        display: block;
        font-style: italic;
        color: rgb(245, 245, 245, 0.8);
        font-family: 'Fredoka One', cursive;
        font-size: small;
        text-align: center;
        text-transform: capitalize;
    }

    .s {
        display: none;
    }

    h2 {
        margin: -10px 0 30px 0;
    }

    .page p {
        line-height: 150%;
    }

    .contact {
        text-align: center;
    }
}