html {
    background: rgba(200, 200, 200, 0.3);
    backface-visibility: hidden;
}

h1 {
    width: 100%;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    color: rgba(200, 200, 200, 1)
}

div {
    width: 300px;
    height: 300px;
    margin: 150px auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.5);
    transition: opacity 0.5s ease;
}

div.loaded:after {
    opacity: 0;
}