@media only screen and (min-width: 32.2em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    h1 {
        font-size: 3.3rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 2.7rem;
    }
}