@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 1rem;
        color: rgb(246, 250, 0);
    }

    h3 {
        font-size: 2rem;
    }


    /*navigation*/
}