* {
    margin: 0;
    padding: 0;
}

/* this ^ made my boxes skinny */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 250, 238);
    max-width: 1200px;
    margin: 2em auto;
}

header {
    background-color: rgb(29, 53, 87);
    display: flex;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    /* margin: 0 auto; */
    letter-spacing: 0.1em;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    color: rgb(230, 57, 70);
    font-family: 'Fredoka One', cursive;
    margin: 0 0 0 20px;
    -webkit-text-stroke-width: .009rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.m {
    font-style: italic;
    color: rgb(245, 245, 245, 0.8);
    margin-left: 400px;
    font-family: 'Berkshire Swash', cursive;

}

h2 {
    color: rgba(245, 245, 245);
    font-family: 'Berkshire Swash', cursive;
}

/*navigation css*/
nav {
    margin: 0 auto;
    /*prefer old*/
    max-width: 1160px;
    /*pointless?*/
    background-color: rgb(69, 123, 157);
    /*none of below in example*/
    font-family: 'Berkshire Swash', cursive;

    box-shadow: 3px 6px 12px rgb(39, 26, 2);
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.75rem;
    text-decoration: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    background-color: rgba(230, 57, 70, 0.4);
}

.active {
    background-color: rgb(230, 57, 70);
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
}

.responsive li {
    display: block;
}


h3 {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    margin: 1rem;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke-width: .0009rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

p {
    font-family: 'Indie Flower', cursive;
}



.container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.container>div {
    background-color: rgb(168, 218, 220);
    box-shadow: 3px 8px 15px rgb(39, 26, 2);
    flex: 100%;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
}

footer {
    text-align: center;
    background-color: rgb(29, 53, 87);
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
}

footer a {
    color: white;
}

.last {
    color: rgb(234, 248, 33);
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}