/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 250, 238);
    max-width: 1200px;
    margin: 2em auto;
}

header {
    padding: 0.5em;
    background-color: rgb(29, 53, 87);
    border-radius: 5px;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    margin: 0 auto;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-align: center;
}

header img {
    width: 10%;
    height: auto;
}

/*navigation css*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
}

nav {
    background-color: rgb(69, 123, 157);
    font-family: 'Berkshire Swash', cursive;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;*/
}

nav ul li a {
    display: block;
    padding: 1em 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
    background-color: rgb(230, 57, 70);
}

nav ul li.active a {
    background-color: rgba(230, 57, 70, 0.4);
}

nav ul.hide {
    display: none;
}

h1 {
    color: rgb(51, 221, 8); /*color will be white, like large. Just for demo*/
    font-size: 1.5rem;
    margin-left: 0.3px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke-width: .009rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

h2 {
    font-size: 5rem;
    color: whitesmoke;
    font-family: 'Berkshire Swash', cursive;
    font-size: .5rem;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke-width: .0009rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

p {
    font-family: 'Indie Flower', cursive;

}



.container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.container>div {
    background-color: rgb(168, 218, 220);
    box-shadow: 3px 8px 15px rgb(39, 26, 2);
    flex: 100%;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
}


.container header {
    margin: .5em;
    background-color: rgb(73, 41, 47);
    border-radius: 5px;

}

.container img {
    max-width: 100%;
}

.container ul li {
    list-style-type: none;
    text-align: left;
    padding: 5px 0px;
}



footer {
    text-align: center;
    background-color: rgb(29, 53, 87);
    color: white;
    padding: 0.08em;
    border-radius: 10px;
    line-height: 5px;
    font-size: 1.2rem;
}

footer a {
    color: white;
}

header a {
    color: white;
}

.last {
    color: rgb(234, 248, 33);
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}