@media only screen and (min-width:867px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    /* NEW STYLING */

    h2 {
        font-size: 1.8rem;
        color: rgb(69, 123, 157);
    }

    h3 {
        font-size: 1.4rem;
    }

    h3:first-child {
        font-size: 2.6rem;
    }

    p {
        font-size: larger;
    }

    div.cards {
        max-width: 90%;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        box-shadow: 0px 0px 0px 0px;

    }

    .towncard {
        /* align-content: center; */
        display: flex;
        flex-direction: column;

    }

    /* article:nth-child(odd) img {
        grid-column: unset;
    } */

    article:nth-child(odd) .towndetail {
        background-color: transparent;

    }

    .towndetail {
        padding: 30px;
    }

}