@media only screen and (min-width: 600px) {


    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    /* STYLES HERE */

    div.cards {
        grid-template-columns: 1fr, 1fr;
    }

    h2 {
        font-size: 2rem;
        width: 150px;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: larger;
    }

    section {
        max-width: 500px;
        margin: .5rem auto;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    article:nth-child(odd) img {
        grid-column: 2;
    }

    article:nth-child(odd) .towndetail {
        grid-column: 1;
        grid-row: 1;
        background-color: rgba(230, 57, 70, 0.5);

    }

    article:nth-child(odd) .towndetail h2 {
        width: 250px;
    }


    .townpicture img {
        width: 100%;
        padding: 0;
    }

    .towndetail {
        padding: .75rem;
        /* background-color: rgba(69, 123, 157, 0.8); */
    }


}