body {
    /* background-color: rgb(241, 250, 238); */
    background: rgba(200, 200, 200, 0.3);
    max-width: 900px;
    /* margin: auto; */
}




div.cards {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    /* background-color: lightcoral; */
    padding-top: 10px;
    /* padding: 10px 0px 0px 0px; */
    margin-top: 10px;
    box-shadow: 0px 0px 15px 0px rgb(39, 26, 2);

}

section {
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 10px;
    background-color: rgba(88, 101, 158, 0.3);
    border: 2px solid rgb(88, 101, 158);
    text-align: center;
}

h1 {
    color: rgb(59, 67, 105);
    font-family: 'Bree Serif', serif;
}

h2 {
    color: rgb(54, 67, 136);
    font-family: 'Bree Serif', serif;
    /* line-height: 20%; */
    font-size: 0.9rem;
    margin: 2px 0px 5px 0;

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    line-height: 60%;
}

img {
    width: 45%;
    height: auto;
    box-shadow: 1px 2px 10px rgb(39, 26, 2);

}

/* figure { */
/* background-color: rgb(168, 218, 220); */
/* IF i WANT ENTIRE BOX AGAIN */
/* box-shadow: 3px 8px 15px rgb(39, 26, 2); IF i WANT ENTIRE BOX AGAIN */
/* margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */