body {
    background: rgba(200, 200, 200, 0.3);
    max-width: 1100px;
    margin: auto;
}

div.cards {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 0px rgb(39, 26, 2);
}

section {
    padding: 10px;
    background-color: rgba(88, 101, 158, 0.3);
    border: 2px solid rgb(88, 101, 158);
    text-align: center;
}

h1 {
    color: rgb(59, 67, 105);
    font-family: 'Bree Serif', serif;
    text-align: center;

}

h2 {
    color: rgb(54, 67, 136);
    font-family: 'Bree Serif', serif;
    font-size: 0.9rem;
    margin: 2px 0px 5px 0;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    line-height: 60%;
}

img {
    width: 45%;
    height: auto;
    box-shadow: 1px 2px 10px rgb(39, 26, 2);
}

footer {
    text-align: center;
    background-color: rgb(29, 53, 87);
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
    margin: 0 0 15px 0;
}

@media only screen and (min-width: 37.5em) {

    div.cards {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        color: rgb(80, 105, 59);
    }

}

@media only screen and (min-width: 50.2em) {

    div.cards {
        grid-template-columns: repeat(4, 1fr);
    }

    h1 {
        color: rgb(105, 66, 59);
    }
}