* {
    margin: 0;
    padding: 0;
}

/* this ^ made my boxes skinny */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: rgba(200, 200, 200, 0.3);
    max-width: 1400px;
    margin: 2em auto;
}

/* ****HEADER**** */
header {
    background-color: rgb(29, 53, 87);
    display: flex;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    letter-spacing: 0.1em;
    align-items: center;
    justify-content: center;
}

header img {
    width: 130px;
    height: auto;
    margin: 5px 0 5px 0;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    color: rgb(228, 106, 116);
    font-family: 'Fredoka One', cursive;
    margin: 0 0 0 10px;
    -webkit-text-stroke-width: .009rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.m {
    color: rgb(245, 245, 245, 0.8);
    margin-left: 5px;
    font-family: 'Berkshire Swash', cursive;
}

/* ****NAVIGATION**** */
nav {
    margin: 0 auto;
    background-color: rgb(69, 123, 157);
    font-family: 'Berkshire Swash', cursive;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.75rem;
    text-decoration: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    background-color: rgba(230, 57, 70, 0.4);
    font-family: 'Indie Flower', cursive;
    font-size: 17px;
    font-weight: 800;
    color: black;
}

.active {
    background-color: rgb(230, 57, 70);
}

.responsive li {
    display: block;
}

/* ****WORDS**** */
h2 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin: 2px 0px 5px 0;
    font-family: 'Berkshire Swash', cursive;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    margin: 1rem;
    font-style: italic;
    font-family: 'Fredoka One', cursive;

}

p {
    font-family: 'Indie Flower', cursive;
}

/* ****JSON**** */

div.cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 0px rgb(39, 26, 2);
}

section {
    padding: 10px;
    background-color: rgba(230, 57, 70, 0.1);
    border: 2px solid rgb(46, 46, 46);
    text-align: center;
}

.townpicture img {
    width: 85%;
    height: auto;
    box-shadow: 1px 2px 10px rgb(39, 26, 2);
}

/* ****FOOTER**** */

footer {
    text-align: center;
    background-color: rgb(29, 53, 87);
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
}

footer a {
    color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* MEDIUM */
@media only screen and (min-width: 37.5em) {

    div.cards {
        grid-template-columns: 1fr, 1fr;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        margin: 2px 0px 5px 0;
        background-color: rgb(255, 255, 255);
        border-radius: 15px 50px 30px 5px;
        padding: 20px;
        width: 150px;
        height: auto;
    }

    h3 {
        font-size: 1.2rem;
        margin: 2px 0px 5px 0;
    }

    p {
        font-size: larger;
    }

    section {
        max-width: 500px;
        margin: .5rem auto;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    article:nth-child(odd) img {
        grid-column: 2;
        /* background-color: lawngreen; */
    }

    article:nth-child(odd) .towndetail {
        grid-column: 1;
        grid-row: 1;
        background-color: rgba(230, 57, 70, 0.5);

    }


    .townpicture img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .towndetail {
        padding: .75rem;
        background-color: rgba(69, 123, 157, 0.8);

        margin: 1rem;
    }

}

/* LARGE */
@media only screen and (min-width: 54.2em) {

    div.cards {
        grid-template-columns: repeat(3, 1fr);
    }


    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}