@media only screen and (min-width: 900px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }


    .headings h1 {
        color: lawngreen;
    }

    h2 {
        font-size: 5rem;
        text-align: center;
    }


    /************
FORM
*************/
    .form-box {
        flex-direction: row;
    }

    .form-rating {
        padding: 0.5rem 0;
        display: block;
    }

    .form-box label {
        flex-basis: 13rem;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .form-box input,
    .form-box select,
    .form-box textarea {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }


    .form-rating input,
    .form-rating select,
    .form-rating textarea {
        flex-basis: 70%;
        margin-left: 4rem;
    }

    .form-box button {
        margin-left: 11rem;
    }


}