@media only screen and (min-width: 500px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .headings h1 {
        color: rgb(6, 198, 247);
    }

    h2 {
        font-size: 3rem;
    }

    /************
FORM
*************/
    .form-box {}

    .form-box label {
        display: block;
    }

    .form-rating {
        padding: 0.5rem 0;
        display: block;
    }

    .form-rating input,
    .form-rating select,
    .form-rating textarea {
        flex-basis: 50%;
        margin-left: 1rem;
    }

    .form-box button {}

}