@media only screen and (min-width: 500px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    /* 
    h1 {
        font-size: 2.7rem;
    } */

    h2 {
        font-size: 3rem;
    }

    /************
FORM
*************/
    .form-box {}

    .form-box label {
        display: block;
    }

    .form-box input,
    .form-box select,
    .form-box textarea {}

    .form-box button {}

}