@media only screen and (min-width: 500px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    /* 
    h1 {
        font-size: 2.7rem;
    } */

    h2 {
        font-size: 3rem;
    }

    /************
FORM
*************/
    .form-box {}

    .form-box label {
        display: block;
    }

    .form-rating {
        padding: 0.5rem 0;
        display: block;
    }

    .form-rating input,
    .form-rating select,
    .form-rating textarea {
        flex-basis: 100%;
        /* margin-left: 11rem; */
    }

    .form-box button {}

}