/************
DEFAULTS
*************/
* {
    margin: 0;
    padding: 0;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;

}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    margin: 1rem auto;
    width: 90%;
    max-width: 1000px;
}

/************
BASIC BODY
*************/
body {
    /* background-color: rgb(241, 250, 238); */
    background: rgba(200, 200, 200, 0.3);
    max-width: 1400px;
    margin: 2em auto;
}

/************
HEADER
*************/

header {
    background-color: rgb(29, 53, 87);
    display: flex;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    letter-spacing: 0.1em;
    align-items: center;
    justify-content: center;
}

header img {
    width: 130px;
    height: auto;
    margin: 5px 0 5px 0;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    color: rgb(228, 106, 116);
    font-family: 'Fredoka One', cursive;
    margin: 0 0 0 10px;
    -webkit-text-stroke-width: .009rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);

}

.m {
    /* font-style: italic; */
    color: rgb(245, 245, 245, 0.8);
    margin-left: 5px;
    font-family: 'Berkshire Swash', cursive;

}


/************
NAVIGATION
*************/
nav {
    margin: 0 auto;
    /*prefer old*/
    /* max-width: 1160px; */
    /*pointless?*/
    background-color: rgb(69, 123, 157);
    /*none of below in example*/
    font-family: 'Berkshire Swash', cursive;

    box-shadow: 3px 6px 12px rgb(39, 26, 2);
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.75rem;
    text-decoration: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    background-color: rgba(230, 57, 70, 0.4);
    font-family: 'Indie Flower', cursive;
    font-size: 17px;
    font-weight: 800;
    color: black;
}

.active {
    background-color: rgb(230, 57, 70);
}

.responsive li {
    display: block;
}

/************
TEXT STYLES
*************/



h2 {
    font-size: 2rem;
    margin: 2rem 0 1rem 1rem;
    font-family: 'Indie Flower', cursive;
}


/************
FORM
*************/

select,
option,
input,
label {
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    color: inherit;
    font-family: 'Indie Flower', cursive;

}

.form-box {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.form-rating {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.form-box label {
    display: none;
}

.form-box input,
.form-box select,
.form-box textarea {
    flex-basis: 100%;
}

.buttons {}

.flexer {
    display: flex;
    align-items: center;
}

em {
    font-size: small;
    font-weight: 500;
}

#yesbutton,
#maybebutton,
#nobutton {
    display: block;
    margin-right: 5rem;
}

#danger {
    display: block;
    /* margin-right: 5rem; */
}

/* #btnSend {
    margin-left: 0rem;
} */

#submitform {
    display: block;
    margin: auto;
}

#bigthanks {
    display: none;
}

#smallthanks {
    margin-left: 7rem;
    display: block;
}

/************
FOOTER
*************/

footer {
    text-align: center;
    background-color: rgb(29, 53, 87);
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
}

footer a {
    color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}