/************
DEFAULTS
*************/
* {
    margin: 0;
    padding: 0;
}

/************
BASIC BODY
*************/
body {
    /* background-color: rgb(241, 250, 238); */
    background: rgba(255, 255, 255, 0.3);
    max-width: 700px;
    margin: 2em auto;
}

/************
HEADER
*************/

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0px auto;
    margin-top: 13%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 12px 12px 20px #628ca6;

}

caption {
    font-size: xx-large;
    font-weight: 900;
    letter-spacing: -1px;
    box-shadow: 12px 22px 20px #628ca6;

}

thead,
#standout {
    background-color: #628ca6;
    color: white;
}

caption,
tfoot {
    background-color: #7fb9c2;
    color: rgb(0, 0, 0);
    padding: 10px;
}

th,
td {
    text-align: center;
    padding: 11px;
}

tbody {
    background-color: #e7ffed;
    font-size: 1em;
}

table,
caption,
td,
th {
    border: 2px solid rgb(194, 194, 194);

}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tfoot {
    font-size: medium;
    letter-spacing: -1px;
}