@media only screen and (min-width: 52.2em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .article img {
        float: right;
        margin-left: 1.3rem;
        width: 40%;
    }

    .stats {
        top: 25px;
        left: 50px;
        padding: 2.5rem;

    }

    .stats h3,
    .stats p {
        font-size: 1.8rem;
        font-family: 'berkshire swash';
    }

    .container .forecast {
        display: block;
    }


    table {
        width: 100%;
    }

    h1 {
        font-size: 3.3rem;
    }

    h2 {
        font-size: 5rem;
        text-align: center;
    }

    h4 {
        font-size: 2.7rem;
    }
}