* {
    margin: 0;
    padding: 0;
}

/* this ^ made my boxes skinny */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 250, 238);
    max-width: 1200px;
    margin: 2em auto;
}

#banner {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background-color: rgb(255, 107, 88);
    margin-top: 20px;
    border: 10px solid rgb(255, 230, 0);
    font-size: 24px;
    border-style: dotted;

}

#pancakes {
    font-style: italic;
    font-weight: 600;
    font-size: 34px;
}

header {
    background-color: rgb(29, 53, 87);
    display: flex;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    /* margin: 0 auto; */
    letter-spacing: 0.1em;
    align-items: center;
    justify-content: center;
}

header img {
    width: 130px;
    height: auto;
    margin: 5px 0 5px 0;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    color: rgb(228, 106, 116);
    font-family: 'Fredoka One', cursive;
    margin: 0 0 0 10px;
    -webkit-text-stroke-width: .009rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);

}

.m {
    /* font-style: italic; */
    color: rgb(245, 245, 245, 0.8);
    margin-left: 5px;
    font-family: 'Berkshire Swash', cursive;

}

h2 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Fredoka One', cursive;
    text-shadow: 3px 6px 10px rgb(39, 26, 2);
    -webkit-text-stroke-width: .0009rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

/*navigation css*/
nav {
    margin: 0 auto;
    /*prefer old*/
    max-width: 1160px;
    /*pointless?*/
    background-color: rgb(69, 123, 157);
    /*none of below in example*/
    font-family: 'Berkshire Swash', cursive;

    box-shadow: 3px 6px 12px rgb(39, 26, 2);
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.75rem;
    text-decoration: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    background-color: rgba(230, 57, 70, 0.4);
    font-family: 'Indie Flower', cursive;
    font-size: 17px;
    font-weight: 800;
}

.active {
    background-color: rgb(230, 57, 70);
}

.responsive li {
    display: block;
}


h3 {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    margin: 1rem;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke-width: .0009rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

p {
    font-family: 'Indie Flower', cursive;
}

/* CONTAINER= (HERO, FORECAST, ARTICLE, PAGE) */

.container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.container>div {

    flex: 100%;
    max-width: 1000px;
    height: auto;
    padding: 0 10px;
    margin: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
}

.container .page,
.forecast,
.article {
    background-color: rgb(168, 218, 220);
    box-shadow: 3px 8px 15px rgb(39, 26, 2);
}

/* HERO (subclasses/ids-STATS )*/
.hero img {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.stats {
    position: absolute;
    /*Maybe change this to the new flex position, so it can migrate better as it changes views*/
    top: 2px;
    left: 4px;
    background: radial-gradient(#eee, #E63946);
    border: 1px solid #000;
    padding: .5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    text-align: left;
}

/* FORECAST */

.forecast {
    display: none;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 40%;

}

th {
    background-color: lightseagreen;
    padding: 5px;
}

td {
    background-color: white;
    padding: 10px;
}

/* ARTICLE */

.article img {
    width: 55%;
    height: auto;
}

/* PAGE (subclasses/ids-INFO, END, TINY) */

.info img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 50%; */
    height: auto;
    float: right;
    /* display: block; */
    margin: 0 0 1.3rem 5.3rem;
}

.info {
    margin-left: 3rem;
}

.info h5,
.info p {
    text-align: left;
    grid-row-start: 2;
}

footer {
    text-align: center;
    background-color: rgb(29, 53, 87);
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
}

footer a {
    color: white;
}

.last {
    color: rgb(234, 248, 33);
}

.fa {
    /* padding: 20px; */
    /* font-size: 30px; */
    width: 30px;
    text-align: center;
    text-decoration: none;
    /* border-radius: 50%; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    /* background: #3B5998; */
    color: white;
    padding: 20px;
    font-size: 30px;
}

.fa-linkedin {
    /* background: #007bb5; */
    color: white;
    padding: 20px;
    font-size: 30px;
}

.fa-youtube {
    /* background: #bb0000; */
    color: white;
    padding: 20px;
    font-size: 30px;
}

.fa-instagram {
    /* background: #125688; */
    color: white;
    padding: 20px;
    font-size: 30px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}