* {
    margin: 0;
    padding: 0;
}

/* this ^ made my boxes skinny */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: rgba(200, 200, 200, 0.3);
    max-width: 1100px;
    margin: auto;
}

/* *****Banner/Pancakes***** */
#banner {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border: 7px solid rgb(230, 57, 70);
    font-size: 24px;
    border-style: dotted;
}

#pancakes {
    font-style: italic;
    font-weight: 600;
    font-size: 34px;
}

/* ****HEADER**** */
header {
    /* background-color: rgba(29, 53, 87, 0.801); */
    background-color: rgb(100, 100, 100);
    display: flex;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    letter-spacing: 0.1em;
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
}

header img {
    width: 100px;
    height: auto;
    margin: 3px -25px 0 -25px;
    box-shadow: 30px 10px 30px 10px rgba(255, 255, 255, 0.137);
    background-color: rgba(238, 238, 238, 0.137);
    border-radius: 50%;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 2px 0 2px 10px;
    font-family: 'Berkshire Swash', cursive;
}

.m {
    display: none;
}

.s {
    display: block;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-family: 'Fredoka One', cursive;
    font-size: small;
    text-transform: lowercase;
    /* background-color: rgb(245, 245, 245); */
    border-radius: 60%;
    text-align: center;
}

/*navigation css*/
nav {
    margin: 0 auto;
    background-color: rgb(69, 123, 157);
    font-family: 'Fredoka One', cursive;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
}

.navigation {
    list-style: none;
    padding: 0;
}


.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.45rem;
    text-decoration: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    font-size: 17px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
}

.navigation li:first-child {
    display: block;
    background-color: rgb(228, 106, 116);
    text-transform: lowercase;
    font-family: 'Berkshire Swash', cursive;
}

.navigation li:first-child a:hover {
    text-transform: lowercase;
}

.active {
    background-color: rgb(230, 57, 70);
}

.responsive li {
    display: block;
}

/* CONTAINER= (HERO, FORECAST PAGE) */

.container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    margin-top: 20px;
}

.container>div {
    flex: 100%;
    height: auto;
    padding: 15px;
    margin: 1.5em;
    vertical-align: middle;
}

.page {
    background-color: rgb(168, 218, 220);
}

.news img {
    width: 100%;
    height: auto;
    margin: 0 20px 10px 0px;
}

.boy {
    display: none;
    width: 60px;
    height: auto;
    box-shadow: 0 0 10px rgb(249, 255, 170);
    border-radius: 50%;
}

/* WORDS */
h2 {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    padding: 30px;
    text-align: left;
    margin: -5px 0 30px 0;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin: 10px 0px 5px 0;
    font-family: 'Berkshire Swash', cursive;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 50px 30px 5px;
    padding: 10px;
    width: 100%;
    height: auto;
}


h4 {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    margin: 1rem;
    font-family: 'Fredoka One', cursive;
    font-style: italic;

}

h5 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin: 10px 0px 10px 0;
    font-family: 'Berkshire Swash', cursive;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
}

#welcome {
    margin: 0;
    text-align: left;
}



/* HERO (subclasses/ids-STATS )*/
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;

}

.stats {
    position: absolute;
    top: 10px;
    left: 14px;
    background-color: rgb(228, 106, 116);
    padding: .9rem;
    box-shadow: 0 0 10px rgb(249, 255, 170);
    opacity: .9;
    text-align: center;
    border-radius: 80%;
}

.stats h3 {
    color: rgb(0, 0, 0);
    font-size: medium;
    margin: .5rem .5rem 0 .5rem;
    text-align: left;
    /* text-transform: uppercase; */
    font-family: 'Fredoka One', cursive;
    background-color: transparent;
    letter-spacing: 2px;
}

.stats p {
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;
    color: rgb(43, 43, 43);
}

#weather-desc,
#current-temp,
#high-temp,
#humidity,
#wind-speed,
#windchill {
    font-family: 'Fredoka One', cursive;
    color: white;
}

/* EVENTS SECTION */
#events {
    width: 90%;
    list-style-type: none;
    background-color: rgb(100, 100, 100);
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    font-size: smaller;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#events li {
    background-color: rgb(228, 106, 116);
    color: rgb(0, 0, 0);
    font-family: 'Fredoka One', cursive;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

/* FORECAST */
.forecast {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
}

.forecast h3 {
    background-color: transparent;
    font-family: 'Indie Flower', cursive;
}

table {
    box-shadow: 0 0 10px #111;
    font-size: large;
}

table th {
    background-color: rgb(228, 106, 116);
    color: black;
    font-family: 'Berkshire Swash', cursive;
    padding: 0.3rem;
}

table td {
    font-family: 'Fredoka One', cursive;
    margin: 1em;
    background: rgba(255, 255, 255, 0.3);
    padding: 2.1em;
    width: 100%;
}

/* CONTACT INFO) */

.info img {
    width: 30%;
    height: auto;
    margin: 0 20px 10px 0px;

}

.info {
    text-align: left;
    line-height: 250%;
}

.info p {
    font-size: 1rem;
}

.contact {
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 30px;
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: right;
    box-shadow: 0 0 10px rgb(249, 255, 170);
}

#credit {
    color: rgb(255, 0, 0);
    font-family: 'Fredoka One', cursive;
}

/* SOCIAL MEDIA ICONS */
.social:hover {
    opacity: 0.3;
}

.social {
    max-width: 30px;
    margin-top: 40px;
    vertical-align: middle;
}

/* ****FOOTER**** */
footer {
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
    margin-top: 10px;
}

footer a {
    color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}