@media only screen and (min-width: 52.2em) {

    /* .forecast {
        width: 700px;
    } */

    table {
        font-size: large;
    }

    table td {
        padding: 2.1em;
        font-size: large;
    }

    table th {
        font-size: large;
    }

    table td:first-child {
        font-size: large;
    }

    h2 {
        font-size: xx-large;
        margin: 5px 0 30px 0;
    }

    h3 {
        font-size: xx-large;
    }

    .news img {
        float: right;
        margin-left: 1.3rem;
        width: 40%;
    }

    h4 {
        line-height: 200%;
    }

    .page p {
        margin-top: 20px;
    }


    .page li {
        margin-top: 20px;
        background-color: transparent;
        color: white;
        letter-spacing: 1px;
        font-family: 'Libre Baskerville', serif;
        font-size: large;
    }

    .info {
        padding-left: 5rem;
        padding-right: 5rem;

    }

    .contact {
        margin: 0 -20px 0 10px;
    }

    .social {
        max-width: 50px;
    }

    /* new styles for SCOOTS */

    #credit {
        text-align: center;
    }

    .signature {
        top: 150px;
        right: 105px;
        letter-spacing: 1px;
        font-size: xx-large;
        transform: rotate(10deg);
        padding: 3rem;
        box-shadow: 10px 10px 30px rgb(255, 255, 255);
        border-radius: 80%;
    }

    .signature br {
        display: block;
    }

    /* .signature em {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;

} */
    .signature {
        display: block;
        position: absolute;
        font-family: 'Pacifico', cursive;
        top: 30px;
        right: 55px;
        color: white;
        letter-spacing: 1px;
        font-size: xx-large;
        background-color: #f7B733;
        padding: 4rem;
        opacity: 2;
        text-align: center;
        border-radius: 80%;
        cursor: pointer;
    }

    .signature1 {
        display: none;
    }

    .signature2 {
        display: block;
        position: absolute;
        font-family: 'Pacifico', cursive;
        bottom: 15px;
        left: 205px;
        color: black;
        letter-spacing: 1px;
        font-size: medium;
        /* transform: rotate(-35deg); */
        background-color: #f7b63370;
        padding: .9rem;
        /* box-shadow: 10px 10px 30px rgb(255, 255, 255); */
        opacity: .9;
        text-align: center;
        border-radius: 80%;
        cursor: pointer;
    }

    .signature3 {
        display: none;
    }
}