* {
    margin: 0;
    padding: 0;
}

/* this ^ made my boxes skinny */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: white;
    max-width: 1600px;
    margin: auto;
}


/* ****HEADER**** */
header {
    /* background-color: #f7b733; */
    background-color: #b6a999;
    display: flex;
    /* box-shadow: 3px 6px 12px rgb(39, 26, 2); */
    letter-spacing: 0.1em;
    align-items: center;
    /* justify-content: center; */
}

header img {
    width: 200px;
    height: auto;
    margin: 3px 25px 0 25px;
    /* box-shadow: 30px 10px 30px 10px rgba(255, 255, 255, 0.137); */
    /* background-color: rgba(238, 238, 238, 0.137); */
    border-radius: 50%;
}

.headings {
    display: flex;
    flex-direction: column;
}

/*NAVIGATION*/
nav {
    margin: 0 auto;
    background-color: #00e2c7;
    font-family: 'Libre Baskerville', serif;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);
    font-weight: 700;
}

.navigation {
    list-style: none;
    padding: 0;
}


.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.45rem;
    text-decoration: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    font-size: 17px;
    color: black;
    text-transform: uppercase;
}

.navigation li:first-child {
    display: block;
    background-color: #00e2c7;
    text-transform: lowercase;
    font-family: 'Libre Baskerville', serif;
}

.navigation li:first-child a:hover {
    text-transform: lowercase;
}

.active {
    background-color: #00A891;
}

.responsive li {
    display: block;
}

/* WEATHER HEADER */
.clima {
    /* position: relative; */
    /* top: 2px; */
    /* right: 2px; */
    background-color: #00A891;
    padding: .5rem;
    /* box-shadow: 0 0 10px rgb(249, 255, 170); */
    opacity: .9;
    text-align: left;
}

.clima p {
    font-size: small;
    text-transform: uppercase;
    text-align: center;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

#weather-desc,
#current-temp,
#high-temp,
#humidity,
#wind-speed,
#windchill {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-weight: 700;
}

/* WORDS */
h2 {
    color: rgb(0, 0, 0);
    font-size: medium;
    margin: 10px 0px 5px 0;
    /* font-family: 'Libre Baskerville', serif; */
    background-color: rgb(255, 255, 255);
    border-radius: 15px 50px 30px 5px;
    padding: 10px;
    width: 100%;
    height: auto;
}

h3 {
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: x-large;
    padding: 30px;
    text-align: right;
    margin: -5px 0 30px 0;
}

.page {
    background-color: #4f4537;
}

h4 {
    color: black;
    background-color: #00e2c7;
    font-size: xx-large;
    text-align: center;
    margin: 1rem;
    font-family: 'Pacifico', cursive;
    padding: 15px;
}

h5 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin: 10px 0px 10px 0;
    font-family: 'Libre Baskerville', serif;
    color: rgb(255, 255, 255);
    padding: 5px;
}

.page li {
    background-color: white;
    font-family: 'Pacifico', cursive;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    font-size: medium;
}

h6 {
    font-family: 'Libre Baskerville', serif;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    padding-right: -10px;
}

#credit {
    color: rgb(255, 68, 68);
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    text-align: right;
    background-color: ;
}

/* CONTAINER= (HERO, FORECAST PAGE) */

.container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    margin-top: 20px;
}

.container>div {
    flex: 100%;
    height: auto;
    padding: 25px;
    margin: 1.5em;
    vertical-align: middle;
}

.news img {
    width: 100%;
    height: auto;
    margin: 0 20px 10px 0px;
}

/* UNSURE */
.news p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
}

/* 
#welcome {
    margin: 0;
    text-align: left;
} */

/* HERO (subclasses/ids-STATS )*/
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;

}

.signature {
    display: none;
}

.signature1 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    bottom: 15px;
    right: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: small;
    background-color: #f7B733;
    padding: 1rem;
    box-shadow: 10px 10px 30px rgb(255, 255, 255);

    opacity: 2;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
}

.signature br {
    display: none;
}

.signature p {
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.signature2 {
    display: none;
}

.signature3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    bottom: 15px;
    left: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: small;
    background-color: #f7b63370;
    padding: .9rem;
    opacity: .9;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
}

.hero1 {
    position: relative;
    display: none;
}

.hero img,
.hero1 img {
    width: 100%;
    height: auto;

}


/* FORECAST */


.forecast {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
}

.forecast h3 {
    background-color: transparent;
    font-family: 'Indie Flower', cursive;
}

table {
    box-shadow: 0 0 10px #111;
    font-size: large;
}

table th {
    background-color: rgb(228, 106, 116);
    color: black;
    font-family: 'Berkshire Swash', cursive;
    padding: 0.3rem;
}

table td {
    font-family: 'Fredoka One', cursive;
    margin: 1em;
    background: rgba(255, 255, 255, 0.3);
    padding: 2.1em;
    width: 100%;
}

/* CONTACT INFO) */

.info img {
    width: 30%;
    height: auto;
    margin: 0 20px 10px 0px;

}

.info {
    text-align: left;
    line-height: 250%;
}

.info p {
    font-size: 1rem;
}

.contact {
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 30px;
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: right;
    box-shadow: 0 0 10px rgb(249, 255, 170);
}



/* SOCIAL MEDIA ICONS */
.social:hover {
    opacity: 0.3;
}

.social {
    max-width: 30px;
    margin-top: 40px;
    vertical-align: middle;
}

/* ****FOOTER**** */
footer {
    text-align: center;
    background-color: #b6a999;
    color: white;
    padding: 1.4em;
    font-size: 1.2rem;
    margin-top: 10px;
    box-shadow: 3px 6px 12px rgb(39, 26, 2);

}

footer a {
    color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}